.main{
    height: 1000px;
    width: 1200px;
    background-color: aqua;
    margin: auto;
}

.header{
    height: 150px;
    width: 1200px;
    background-color: rgb(14, 212, 212);
}

.branding{
    height: 150px;
    width: 400px;
    background-color: rgb(17, 168, 228);
    float: left;
}

.socialmedia{
    height: 100px;
    width: 800px;
    background-color: brown;
    float: left;
 
}

.menu{
    height: 50px;
    width: 800px;
    background-color: burlywood;
    float: left;
}

.container{
    height: 800px;
    width: 1200px;
    background-color: yellowgreen;

}

.gallary{
    height: 400px;
    width: 1200px;
    background-color: yellow;
}

.courses{
    height: 400px;
    width: 1200px;
    background-color: aqua;
}

.bootcamp{
    height: 400px;
    width: 300px;
    background-color: green;
    float: left;
}



.footer{
    height: 50px;
    width: 1200px;
    background-color: red;
}