*{
    margin: 0;
    padding: 0;
}
.main{
    height: 1000px;
    width: 1200px;
    background-color: aqua;
    margin: auto;
}

.menu{
    height: 50px;
    width: 800px;
    background-color: burlywood;
    float: left;
}

.menu ul li{
    float: left;
    display: block;
    list-style: none;
    background-color: rgb(173, 9, 9);
    height: 40px;
    width: 190px;
    margin-left: 10px;
    margin-top: 5px;
    text-align: center;
    line-height: 40px;
    
}

.menu ul li:hover{
    background-color:black;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.header{
    height: 150px;
    width: 1200px;
    background-color: rgb(14, 212, 212);
}

.branding{
    height: 150px;
    width: 400px;
    background-color: rgb(17, 168, 228);
    float: left;
}

.branding img{
    height: 150px;
    width: 400px;
}

.socialmedia{
    height: 100px;
    width: 800px;
    background-color: brown;
    float: left;
 
}

.facebook{
    height: 90px;
    width: 100px;
    background-color: white;
    float:right;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 5px;
}

.facebook img{
    height: 90px;
    width: 100px;
}


.container{
    height: 800px;
    width: 1200px;
    background-color: yellowgreen;

}

.gallary{
    height: 400px;
    width: 1200px;
    background-color: yellow;
    overflow: scroll;
}

.gallary img{
    height: 400px;
    width: 1200px;
}


.courses{
    height: 400px;
    width: 1200px;
    background-color: aqua;
}

.bootcamp{
    height: 400px;
    width: 300px;
    background-color: green;
   
    float: left;
}

.bootcamp img{
    height: 400px;
    width: 300px;
    
}


.footer{
    height: 50px;
    width: 1200px;
    background-color:brown;
}

.footer h2{
    text-align: center;
    line-height: 50px;
    color: white;
}